{% load static %}
<section id="cta" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="cta-text">
              <h4>Ganhe 30 dias de teste grátis</h4>
              <p>
                  Cadastre-se gratuitamente para encontrar a soluçõa <pro> ideal para auxiliar o seu negócio.
                  podemos te ajudar em diversos setores do seu negócio, desde a criação do seu site até consultorias de
                  infraestrutura e marketing digital.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
            </br><a href="#" class="btn btn-common">Cadastre-se Agora</a>
          </div>
        </div>
      </div>
    </section>